<div id="pokedex_view" class="view_div">
	<section class="header">
		<img ng-src="{{sprite}}"/>
		<h2>{{name}}</h2>
	</section>

	<section class="description">
		<p>Description</p>
	</section>

	<section class="types">
		<h3>Types :</h3>
		<p>{{types}}</p>
	</section>

	<section class="mesures">
		<p>Height : {{height}}</p>
		<p>Weight : {{weight}}</p>
	</section>

	<section class="talents">
		<h3>Talents :</h3>
		<p>{{talents}}</p>
	</section>

	<section class="stats">
		<h3>Stats :</h3>
		<p><span>HP :</span> {{hp}}</p>
		<p><span>Attack :</span> {{atk}}</p>
		<p><span>Defense :</span> {{def}}</p>
		<p><span>Special Attack :</span> {{speatk}}</p>
		<p><span>Special Defense :</span> {{spedef}}</p>
		<p><span>Speed :</span> {{speed}}</p>
	</section>

	<section class="attack_list">
		<h3>Attack List :</h3>
		<p>{{attack_list}}</p>
	</section>

	<section class="evolution">
		<h3>Evolution :</h3>
		<a ng-href="{{evolution_link}}">{{evolution_name}}</a>
	</section>

	<footer>
		<input type="button" value="Previous" ng-click="previous_pokemon();"/>
		<div class="search_div">
			<input type="text" ng-model="search_value" placeholder="id or name"/>
			<input type="button" value="Search" ng-click="search_pokemon();"/>
		</div>
		<input type="button" value="Next" ng-click="next_pokemon();"/>
	</footer>
</div>
